header{
    width: 1000px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    top: 30px;
    left: 200px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#main-title{
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
   margin-left: 10px;
   position: absolute;
   margin-bottom: 10px;
   margin-top: 10px;
 }
 .navigation{
    display: flex;
    margin-left: 750px;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    justify-content: space-around;
}
 #navigation {
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-items:end;
   padding: 10px;
}
main{
    width: 350px;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    top: 250px;
    left:550px;
    border-radius: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-center;
}
#sub-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-left: 50px;
}
#attended-h{
    font-size: 20px;
    display: flex;
    margin: 5px;
    justify-content: center;
    font-family: 'Georgia',Times, serif;
}
#attended{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 120px;
    display: flex;
    justify-content: center;
}
#total-h{
    font-size: 20px;
    display: flex;
    margin: 5px;
    justify-content: center;
    font-family: 'Georgia',Times, serif;
}
#total{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 120px;
    display: flex;
    justify-content: center;
}
#required-h{
    font-size: 20px;
    display: flex;
    margin: 5px;
    justify-content: center;
    font-family: 'Georgia',Times, serif;
}
#required{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 120px;
    display: flex;      
    justify-content: center;
}
#calc{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#res{
    width: 150px;
    height: 30px;   
    border-radius: 30px;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}
     